<ion-header [translucent]="true">
  <ion-toolbar color="secondary Shade">
    <ion-title>
      Barra Bonita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/images/barra.jpg"></ion-img>
      <ion-card-title>Cidade Simpatia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A principal atividade turística da cidade é o passeio de barco pela eclusa do Rio Tietê. Mas também há outros atrativos, como vasto calendário de eventos diversos durante o ano todo o Barra Rock Fest, o artesanato na Praça de Artesanato, o museu histórico Luiz Saffi na Praça Dr. Tatinho, a Casa de Cultura Fernando Morais, Cine Teatro Profª Zita De Marchi, a Igreja Matriz São José, o Memorial do Rio Tietê, o Café do Sítio Barra Bonita, onde está situada a primeira casa da cidade, além dos passeios de Trenzinho e Bondes pela cidade.    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Segmentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item href="https://barrabonita.sp.gov.br/barrabonita/livro-100-anos-de-historia/a-criacao-e-apresentacao-dos-simbolos-de-barra-bonita" target="_blank">
          <ion-icon name="images-outline"></ion-icon>
          <ion-label>Pontos turísticos</ion-label>
        </ion-item>
  
        <ion-item href="https://barrabonita.sp.gov.br/barrabonita/livro-100-anos-de-historia/a-criacao-e-apresentacao-dos-simbolos-de-barra-bonita" target="_blank">
          <ion-icon name="map-outline"></ion-icon>
          <ion-label>Passeios</ion-label>
        </ion-item>
  
        <ion-item href="https://barrabonita.sp.gov.br/barrabonita/livro-100-anos-de-historia/a-criacao-e-apresentacao-dos-simbolos-de-barra-bonita">
          <ion-icon name="bed-outline" ></ion-icon>
          <ion-label>Hotéis</ion-label>
        </ion-item>
  
        <ion-item lines="none" href="https://barrabonita.sp.gov.br/barrabonita/livro-100-anos-de-historia/a-criacao-e-apresentacao-dos-simbolos-de-barra-bonita">
          <ion-icon name="fast-food-outline"></ion-icon>
          <ion-label>Alimentação</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
