<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Barra Bonita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/images/barra.jpg"></ion-img>
      <ion-card-title>Cidade Simpatia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Este lazer é o mais procurado pelos turistas que, em modernas, confortáveis e seguras embarcações, viajam por um rio Tietê límpido, navegável e que possui variadas espécies de peixes. Aqui o turista irá fazer a eclusagem, uma grande obra de engenharia hidráulica que fica junto da Usina Hidroelétrica de Barra Bonita.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Segmentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item href="https://barrabonita.sp.gov.br/barrabonita/livro-100-anos-de-historia/a-criacao-e-apresentacao-dos-simbolos-de-barra-bonita" target="_blank">
          <ion-icon name="images-outline"></ion-icon>
          <ion-label>Pontos turísticos</ion-label>
        </ion-item>
  
        <ion-item href="https://barrabonita.sp.gov.br/barrabonita/livro-100-anos-de-historia/a-criacao-e-apresentacao-dos-simbolos-de-barra-bonita" target="_blank">
          <ion-icon name="map-outline"></ion-icon>
          <ion-label>Passeios</ion-label>
        </ion-item>
  
        <ion-item href="https://barrabonita.sp.gov.br/barrabonita/livro-100-anos-de-historia/a-criacao-e-apresentacao-dos-simbolos-de-barra-bonita">
          <ion-icon name="bed-outline" ></ion-icon>
          <ion-label>Hotéis</ion-label>
        </ion-item>
  
        <ion-item lines="none" href="https://barrabonita.sp.gov.br/barrabonita/livro-100-anos-de-historia/a-criacao-e-apresentacao-dos-simbolos-de-barra-bonita">
          <ion-icon name="fast-food-outline"></ion-icon>
          <ion-label>Alimentação</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
